#create-password {
    padding: 32px 20px 24px 20px;
}

.create-password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-password-logo-header-already-have-account {
    display: flex;
    flex-direction: column;
    gap: 38.67px;
}

.create-password-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 9.67px;
    cursor: pointer;
}

.create-password-logo-icon {
    width: 32.222px;
    height: 32.222px;
}

.create-password-logo-text {
    color: #141522;
    font-size: 20.944px;
    font-weight: 700;
    line-height: 31.417px;
    letter-spacing: -0.419px;
    margin: 0;
}

.create-password-header-already-have-account {
    display: flex;
    flex-direction: column;
    gap: 8.06px;
}

.create-password-header {
    color: #141522;
    font-size: 25.778px;
    font-weight: 500;
    line-height: 38.667px;
    margin: 0;
}

.create-password-already-have-account-div {
    display: flex;
    align-items: center;
    gap: 3.22px;
}

.create-password-already-have-account-text {
    color: #141522;
    font-size: 11.278px;
    font-weight: 400;
    line-height: 22.556px;
    margin: 0;
}

.create-password-signin-link {
    color: #5541D7;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    text-decoration: none;
    cursor: pointer;
}
.create-password-password-form {
    margin-top: 29px;
}

.create-password-password-form,
.create-password-passwords-div {
    display: flex;
    flex-direction: column;
    gap: 12.89px;
}

.create-password-password-div {
    display: flex;
    flex-direction: column;
    gap: 6.44px;
}

.create-password-password-div label {
    color: #141522;
    font-size: 12.889px;
    font-weight: 700;
    line-height: 19.333px
}

.create-password-input-div {
    position: relative;
    width: 100%;
    height: 40.278px;
}

.create-password-input-div input {
    width: 100%;
    height: 100%;
    padding: 12.889px 35.448px 12.89px 9.667px;
    border-radius: 6.444px;
    color: #141522;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    border: 0.806px solid #F5F5F5;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
}

.create-password-input-div input::placeholder {
    color: #141522;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    opacity: 0.6;
}
.create-password-toggle-password-visibility {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 0;
    top: 50%;
    right: 9.667px;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
}
.create-password-password-eye {
    width: 16.111px;
    height: 16.111px;
}

.create-password-password-requirements-create-password-button {
    display: flex;
    flex-direction: column;
    gap: 19.33px;
}

.create-password-password-requirements {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6.44px;
}

.create-password-password-requirements li {
    display: flex;
    align-items: center;
    gap: 4.83px;
    color: #141522;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
}

.create-password-password-requirement-icon {
    width: 14.5px;
    height: 14.5px;
}

.create-password-confirm-button-div {
    width: 100%;
    height: 36.334px;
}

.create-password-confirm-button {
    width: 100%;
    height: 100%;
    padding: 9.667px 12.889px;
    border-radius: 8.056px;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    color: #FFF;
    background-color: #5541D7;
    border: none;
    cursor: pointer;
}

.create-password-greyLine {
    width: 100%;
    height: 0.806px;
    background: #c9c9c9;
    margin: 29px 0;
}

.create-password-policy-terms-of-service-text {
    color: #9C9CA4;
    font-size: 9.667px;
    font-weight: 400;
    line-height: 14.5px;
    margin: 0 0 32px 0;
}

.create-password-privacy-policy-text,
.create-password-terms-of-service-text {
    color: #5541D7 !important;
    text-decoration: none;
    cursor: pointer;
}

.create-password-error-box-column {
    width: 100%;
    height: 38.7px;
    margin: 0 0 32px 0;
}

.create-password-error-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9.667px;
    border-radius: 6.444px;
    border: 0.806px solid #EAEAEA;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
    box-shadow: 9.667px 9.667px 19.333px 0 rgba(0, 0, 0, 0.10);
}

.create-password-error-box-icon {
    width: 19.333px;
    height: 19.333px;
}

.create-password-error-box-message {
    color: #201D1D;
    font-size: 9.9px;
    font-weight: 500;
    line-height: 16.917px;
    letter-spacing: -0.338px;
}

.create-password-close-error-box-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.create-password-photo-div {
    width: 100%;
    height: 420px;
}

.create-password-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12.889px;
}

@media screen and (min-width: 768px) {
    #create-password {
        padding: 43px 20px 21px 20px;
    }

    .create-password-form-submit-div {
        padding: 0 30px 0 30px;
    }
    .create-password-logo-header-already-have-account {
        gap: 42px;
    }

    .create-password-logo-link {
        gap: 10.5px;
    }

    .create-password-logo-icon {
        width: 35px;
        height: 35px;
    }

    .create-password-logo-text {
        font-size: 22.75px;
        line-height: 34.125px;
        letter-spacing: -0.455px;
    }

    .create-password-header-already-have-account {
        gap: 9px;
    }

    .create-password-header {
        font-size: 28px;
        line-height: 42px;
    }

    .create-password-already-have-account-div {
        gap: 3.5px;
    }

    .create-password-already-have-account-text {
        font-size: 12.25px;
        line-height: 24.5px;
    }

    .create-password-signin-link {
        font-size: 12.25px;
        line-height: 18.375px;
    }
    .create-password-password-form {
        margin-top: 31.5px;
    }

    .create-password-password-form {
        gap: 31.5px;
    }

    .create-password-passwords-div {
        flex-direction: row;
        justify-content: space-between;
    }

    .create-password-password-div {
        gap: 7px;
        width: 48.96%;
    }

    .create-password-password-div label {
        font-size: 14px;
        line-height: 21px;
    }

    .create-password-input-div {
        height: 43.75px;
    }

    .create-password-input-div input {
        padding: 14px 38.5px 14px 10.5px;
        border-radius: 7px;
        font-size: 12.25px;
        line-height: 18.375px;
        border: 0.875px solid #F5F5F5;
    }

    .create-password-input-div input::placeholder {
        font-size: 12.25px;
        line-height: 18.375px;
    }
    .create-password-toggle-password-visibility {
        right: 10.5px;
    }
    .create-password-password-eye {
        width: 17.5px;
        height: 17.5px;
    }

    .create-password-password-requirements-create-password-button {
        gap: 31.5px;
    }

    .create-password-password-requirements {
        gap: 7px;
    }

    .create-password-password-requirements li {
        gap: 5.25px;
        font-size: 12.25px;
        line-height: 18.375px;
    }

    .create-password-password-requirement-icon {
        width: 15.75px;
        height: 15.75px;
    }

    .create-password-confirm-button-div {
        display: flex;
        justify-content: end;
        height: 39px;
    }

    .create-password-confirm-button {
        width: 42.68%;
        padding: 10.5px 14px;
        border-radius: 8.056px;
        font-size: 12.25px;
        line-height: 18.375px;
    }

    .create-password-greyLine {
        height: 0.875px;
        margin: 31.5px 0;
    }

    .create-password-policy-terms-of-service-text {
        font-size: 10.5px;
        line-height: 15.75px;
        margin: 0 0 35.75px 0;
    }

    .create-password-error-box-column {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 42px;
        margin: 0 0 30px 0;
    }

    .create-password-error-box {
        width: 63%;
        padding: 10.5px;
        border-radius: 7px;
        border: 0.875px solid #EAEAEA;
        background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
        box-shadow: 10.5px 10.5px 21px 0 rgba(0, 0, 0, 0.10);
    }

    .create-password-error-box-icon {
        width: 21px;
        height: 21px;
    }

    .create-password-error-box-message {
        font-size: 12.25px;
        line-height: 18.375px;
        letter-spacing: -0.367px;
    }

    .create-password-close-error-box-icon {
        width: 30px;
        height: 30px;
    }

    .create-password-photo-div {
        height: 375px;
    }

    .create-password-photo {
        border-radius: 14px;
    }
}

@media screen and (min-width: 1440px) {
    #create-password {
        padding: 20px 20px 20px 160px;
    }

    .create-password {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .create-password-form-submit-div {
        padding: 0;
        width: 30.56%;
    }
    .create-password-logo-header-already-have-account {
        gap: 48px;
    }

    .create-password-logo-link {
        gap: 12px;
    }

    .create-password-logo-icon {
        width: 40px;
        height: 40px;
    }

    .create-password-logo-text {
        font-size: 26px;
        line-height: 39px;
        letter-spacing: -0.52px;
    }

    .create-password-header-already-have-account {
        gap: 10px;
    }

    .create-password-header {
        font-size: 32px;
        line-height: 48px;
    }

    .create-password-already-have-account-div {
        gap: 4px;
    }

    .create-password-already-have-account-text {
        font-size: 14px;
        line-height: 28px;
    }

    .create-password-signin-link {
        font-size: 14px;
        line-height: 21px;
    }
    .create-password-password-form {
        margin-top: 31.5px;
    }

    .create-password-password-form {
        gap: 36px;
    }

    .create-password-passwords-div {
        flex-direction: column;
        gap: 16px;
    }

    .create-password-password-div {
        gap: 8px;
        width: 100%;
    }

    .create-password-password-div label {
        font-size: 16px;
        line-height: 24px;
    }

    .create-password-input-div {
        height: 50px;
    }

    .create-password-input-div input {
        padding: 16px 44px 16px 12px;
        border-radius: 8px;
        font-size: 14px;
        line-height: 21px;
        border: 1px solid #F5F5F5;
    }

    .create-password-input-div input::placeholder {
        font-size: 14px;
        line-height: 21px;
    }
    .create-password-toggle-password-visibility {
        right: 12px;
    }
    .create-password-password-eye {
        width: 20px;
        height: 20px;
    }

    .create-password-password-requirements-create-password-button {
        gap: 24px;
    }

    .create-password-password-requirements {
        gap: 8px;
    }

    .create-password-password-requirements li {
        gap: 6px;
        font-size: 14px;
        line-height: 21px;
    }

    .create-password-password-requirement-icon {
        width: 18px;
        height: 18px;
    }

    .create-password-confirm-button-div {
        display: flow-root;
        justify-content: baseline;
        height: 45px;
    }

    .create-password-confirm-button {
        width: 100%;
        padding: 12px 16px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 21px;
    }

    .create-password-greyLine {
        height: 1px;
        margin: 36px 0;
    }

    .create-password-policy-terms-of-service-text {
        font-size: 12px;
        line-height: 18px;
        margin: 0;
    }

    .create-password-error-box-column {
        width: 120%;
        display: flex;
        height: 48px;
        margin: 20px 0 0 0;
    }

    .create-password-error-box {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
        box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.10);    
    }

    .create-password-error-box-icon {
        width: 24px;
        height: 24px;
    }

    .create-password-error-box-message {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.42px;
    }

    .create-password-close-error-box-icon {
        width: 30px;
        height: 30px;
    }

    .create-password-photo-div {
        width: 56.75%;
        height: 920px;
    }

    .create-password-photo {
        border-radius: 16px;
    }
}