#profile-cards-payments {
  padding: 148.72px 20px 48px 20px;
  display: flex;
  flex-direction: column;
    gap: 32px;
}

.profile-cards-payments-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-cards-payments-title h2 {
    color: #141522;
    font-size: 22.556px;
    font-weight: 700;
    line-height: 33.833px;
    letter-spacing: -0.451px;  
    margin: 0;
}

.profile-cards-payments-add-credit-debit-card {
    width: 42px;
    height: 35.44px;
}

.profile-cards-payments-add-credit-debit-card button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;       
    padding: 9.667px 12.889px;
    border-radius: 8.056px;
    background: #5541D7;
    border: none;
    cursor: pointer;
}

.profile-cards-payments-add-credit-debit-card button img {
    width: 16.111px;
    height: 16.111px;
}

.profile-cards-payments-add-credit-debit-card button span {
    display: none;
}

.profile-cards-payments-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12.89px;
}

.profile-cards-payments-payment {
    padding: 19.333px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 6.444px;
    background: #FFF;
}

.profile-cards-payments-payment-type-name-digits-row {
    display: flex;
    align-items: center;
    gap: 19px;
}

.profile-cards-payments-payment-img {
    width: 44.306px;
}

.profile-cards-payments-name-digits {
    display: flex;
    flex-direction: column;
    gap: 4.83px;
}

.profile-cards-payments-name {
    color: #141522;
    font-size: 17.722px;
    font-weight: 700;
    line-height: 26.583px;
    letter-spacing: -0.354px;
    margin: 0;
}

.profile-cards-payments-card-number-digits-rows {
    display: flex;
    align-items: center;
    gap: 9.67px;
}

.profile-cards-payments-card-number-dots-row {
    display: flex;
    align-items: center;
    gap: 2.01px;
}

.profile-cards-payments-card-number-dot {
    width: 4.833px;
    height: 4.833px;
    border-radius: 32.222px;
    background: rgba(20, 21, 34, 0.70);
}

.profile-cards-payments-card-number-last-digits {
    color: rgba(20, 21, 34, 0.70);
    font-size: 12.889px;
    font-weight: 700;
    line-height: 19.333px;
    letter-spacing: -0.129px;
    margin: 0;
}

.profile-cards-payments-expiry-payment-button-trash-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33.9px;
    width: 100%;
}

.profile-cards-payments-expiry-column {
    width: 14.6%;
    height: 100%;
}

.profile-cards-payments-payment-method-button-column {
    width: 67.8%;
    height: 100%;
}

.profile-cards-payments-trash-button-column {
    width: 11.42%;
    height: 100%;
}

.profile-cards-payments-expiry-label,
.profile-cards-payments-expiry-value {
    color: rgba(20, 21, 34, 0.70);
    font-size: 12.889px;
    font-weight: 700;
    line-height: 19.333px;
    letter-spacing: -0.129px;
    margin: 0;
}

.profile-cards-payments-default-payment-method {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 6.444px 12.889px;
    border-radius: 19.333px;
    background: rgba(85, 65, 215, 0.15);
        width: 100%;
        height: 100%;    
}

.profile-cards-payments-default-payment-method span {
    color: #5541D7;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.profile-cards-payments-make-default-button {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 6.444px 12.889px;
    border-radius: 19.333px;
    background: #5541D7;
    cursor: pointer;
    border: none;
        width: 100%;
        height: 100%;    
}

.profile-cards-payments-make-default-button span {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.profile-cards-payments-trash-button {
    padding: 8.458px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.049px;
    background: rgba(255, 0, 0, 0.05);    
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.profile-cards-payments-trash-button img {
    width: 19.333px;
    height: 19.333px;
}

@media screen and (min-width: 768px) {
    #profile-cards-payments {
    padding: 148.75px 20px 48px 20px;
        gap: 17px;
    }

    .profile-cards-payments-title-div {
        padding: 0 8px;
    }

    .profile-cards-payments-title h2 {
        font-size: 24.5px;
        line-height: 36.75px;
        letter-spacing: -0.49px;  
    }

    .profile-cards-payments-add-credit-debit-card {
        width: 24.23%;
        height: 39px;
    }

    .profile-cards-payments-add-credit-debit-card button {
        padding: 10.5px 14px;
        border-radius: 8.75px;
        gap: 7px;
    }

    .profile-cards-payments-add-credit-debit-card button img {
        width: 17.5px;
        height: 17.5px;
    }

    .profile-cards-payments-add-credit-debit-card button span {
        display: flow-root;
        color: #FFF;
        font-size: 12.25px;
        font-weight: 500;
        line-height: 18.375px;
        letter-spacing: -0.245px;
    }

    .profile-cards-payments-grid {
        gap: 14px;
    }

    .profile-cards-payments-payment {
        padding: 21px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        border-radius: 7px;
    }

    .profile-cards-payments-payment-type-name-digits-row {
        gap: 21px;
    }

    .profile-cards-payments-payment-img {
        width: 48.125px;
    }

    .profile-cards-payments-name-digits {
        gap: 5.25px;
    }

    .profile-cards-payments-name {
        font-size: 19.25px;
        line-height: 28.875px;
        letter-spacing: -0.385px;
    }

    .profile-cards-payments-card-number-digits-rows {
        gap: 10.5px;
    }

    .profile-cards-payments-card-number-dots-row {
        gap: 2.19px;
    }

    .profile-cards-payments-card-number-dot {
        width: 5.25px;
        height: 5.25px;
        border-radius: 35px;
    }

    .profile-cards-payments-card-number-last-digits {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.14px;
    }

    .profile-cards-payments-expiry-payment-button-trash-row {
        height: 36.75px;
        width: 49.381%
    }

    .profile-cards-payments-expiry-column {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25.04%;
        height: 21px;
    }

    .profile-cards-payments-payment-method-button-column {
        width: 53.7%;
        height: 32px;
    }

    .profile-cards-payments-trash-button-column {
        width: 11%;
        height: 100%;
    }

    .profile-cards-payments-expiry-label,
    .profile-cards-payments-expiry-value {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.14px;
    }

    .profile-cards-payments-default-payment-method,
    .profile-cards-payments-make-default-button {
        padding: 7px 14px;
        border-radius: 21px;
    }

    .profile-cards-payments-default-payment-method span {
        font-size: 12.25px;
        line-height: 18.375px;
    }

    .profile-cards-payments-make-default-button span {
        font-size: 12.25px;
        line-height: 18.375px;
    }

    .profile-cards-payments-trash-button {
        padding: 9.188px;
        border-radius: 7.656px;
    }

    .profile-cards-payments-trash-button img {
        width: 21px;
        height: 21px;
    }
}
@media screen and (min-width: 1440px) {
    #profile-cards-payments {
    padding: 131.5px 32px 48px 32px;
        gap: 25.5px;
    }

    .profile-cards-payments-title-div {
        padding: 0;
    }

    .profile-cards-payments-title h2 {
        font-size: 28px;
        line-height: 42px;
        letter-spacing: -0.56px;  
    }

    .profile-cards-payments-add-credit-debit-card {
        width: 14.32%;
        height: 45px;
    }

    .profile-cards-payments-add-credit-debit-card button {
        padding: 12px 16px;
        border-radius: 10px;
        gap: 8px;
    }

    .profile-cards-payments-add-credit-debit-card button img {
        width: 20px;
        height: 20px;
    }

    .profile-cards-payments-add-credit-debit-card button span {
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.28px;
    }

    .profile-cards-payments-grid {
        gap: 16px;
    }

    .profile-cards-payments-payment {
        padding: 24px;
        border-radius: 8px;
    }

    .profile-cards-payments-payment-type-name-digits-row {
        gap: 24px;
    }

    .profile-cards-payments-payment-img {
        width: 55px;
    }

    .profile-cards-payments-name-digits {
        gap: 6px;
    }

    .profile-cards-payments-name {
        font-size: 22px;
        line-height: 33px;
        letter-spacing: -0.44px;
    }

    .profile-cards-payments-card-number-digits-rows {
        gap: 12px;
    }

    .profile-cards-payments-card-number-dots-row {
        gap: 2.5px;
    }

    .profile-cards-payments-card-number-dot {
        width: 6px;
        height: 6px;
        border-radius: 40px;
    }

    .profile-cards-payments-card-number-last-digits {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.16px;
    }

    .profile-cards-payments-expiry-payment-button-trash-row {
        height: 42px;
        width: 28.2%
    }

    .profile-cards-payments-expiry-column {
        width: 26%;
        height: 24px;
    }

    .profile-cards-payments-payment-method-button-column {
        width: 55.5%;
        height: 37px;
    }

    .profile-cards-payments-trash-button-column {
        width: 11%;
    }

    .profile-cards-payments-expiry-label,
    .profile-cards-payments-expiry-value {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.16px;
    }

    .profile-cards-payments-default-payment-method,
    .profile-cards-payments-make-default-button {
        padding: 8px 16px;
        border-radius: 24px;
    }

    .profile-cards-payments-default-payment-method span,
    .profile-cards-payments-make-default-button span {
        font-size: 14px;
        line-height: 21px;
    }

    .profile-cards-payments-trash-button {
        padding: 10.5px;
        border-radius: 8.75px;
    }

    .profile-cards-payments-trash-button img {
        width: 24px;
        height: 24px;
    }
}