#profile-earnings-payouts {
  padding: 148.72px 20px 48px 20px;
}

.profile-earnings-payouts-title-div {
  margin: 0 0 32px 0;
}

.profile-earnings-payouts-title-div .profile-earnings-payouts-title {
  color: #141522;
  font-size: 22.556px;
  font-weight: 700;
  line-height: 33.833px;
  margin: 0 0 12px 0;
}

.profile-earnings-payouts-sort-export-activity-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-earnings-payouts-sortby-div {
  padding: 9.667px 5px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  width: 42.3%;
  height: 36.333px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.profile-earnings-payouts-icons {
  width: 16.111px;
  height: 16.111px;
}

.earnings-payouts-export-activity-report-div span,
.profile-earnings-payouts-sortby-div .sort-by-label,
.profile-earnings-payouts-details-tablet,
.profile-earnings-payouts-details-desktop {
  display: none;
}


.profile-earnings-payouts-sortby-div .sort-by-value,
.profile-earnings-payouts-calendar-sort-div span {
color: #141522;
font-size: 11.278px;
font-weight: 500;
line-height: 16.917px;
}
.profile-earnings-payouts-sortby-dropdown,
.profile-earnings-payouts-calendar-sortby-dropdown {
  position: absolute;
  top: 40.003px;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 4px;
  border-radius: 6px;
  border: 0.875px solid #F5F5F5;
  background: #FFF;
  box-shadow: 10.5px 10.5px 26.25px 0px rgba(0, 0, 0, 0.10);
  list-style: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-earnings-payouts-sortby-dropdown li,
.profile-earnings-payouts-calendar-sortby-dropdown li {
  padding: 3px 6px;
  color: #141522;
  background: #FCFCFC;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.5px;
  letter-spacing: -0.44px;
  border-radius: 3px;
}

.profile-earnings-payouts-sortby-dropdown li:hover,
.profile-earnings-payouts-sortby-dropdown li.active,
.profile-earnings-payouts-calendar-sortby-dropdown li:hover,
.profile-earnings-payouts-calendar-sortby-dropdown li.active {
  background: #F6F5FD;
  color: #5541D7;
}

.profile-earnings-payouts-calendar-sort-div {
  padding: 9.667px 5px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  width: 40.2%;
  height: 36.333px;
  z-index: 1000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.profile-earnings-payouts-sortby-div .earnings-payouts-arrow-div,
.profile-earnings-payouts-calendar-sort-div .earnings-payouts-arrow-div {
  display: flex;
  align-items: center;
}

.earnings-payouts-arrow-div {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.earnings-payouts-arrow-div.arrow-open {
  transform: rotate(180deg);
}

.earnings-payouts-arrow-div.arrow-hover img {
  filter: brightness(0) saturate(100%) invert(29%) sepia(37%) saturate(2136%) hue-rotate(225deg) brightness(95%) contrast(94%);
}

.earnings-payouts-export-activity-report-div {
  width: 41.88889px;
  height: 36.333px;
  padding: 9.667px 12.889px;
  border-radius: 8.056px;
  background: #5541D7;
  cursor: pointer;
}

.profile-earnings-payouts-body {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.profile-earnings-payouts-summary {
  display: flex;
  flex-direction: column;
  gap: 12px;  
}
.profile-earnings-payouts-total-balances-and-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12.89px;
  width: 100%;
  border-radius: 6.444px;
  background: #5541D7;
}

.profile-earnings-payouts-balance-availables-div,
.profile-earnings-payouts-balance-available {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-earnings-payouts-balance-available-label {
  color: #FFF;
  font-size: 12.889px;
  font-weight: 500;
  line-height: 19.333px;
  letter-spacing: -0.129px;
  opacity: 0.9;
  margin: 0;
}

.profile-earnings-payouts-total-balance {
  color: #FFF;
  font-size: 22.556px;
  font-weight: 700;
  line-height: 33.833px;
  letter-spacing: -0.451px;
  margin: 0;
}

.profile-earnings-payouts-withdrawal-to-date {
  display: flex;
  flex-direction: column;
  gap: 3.22px;
}

.profile-earnings-payouts-withdrawal-to-date-label,
.profile-earnings-payouts-total-withdrawal-to-date {
  color: #FFF;
  font-size: 12.889px;
  font-weight: 500;
  line-height: 19.333px;
  letter-spacing: -0.129px;
  opacity: 0.7;
  margin: 0;
}

.profile-earnings-payouts-balance-available-buttons-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-earnings-payouts-withdrawal-balance-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.44px;
  width: 54.1%;
  padding: 9.667px 12.889px;
  border-radius: 8.056px;
  background: #FFF;
  border: none;
  cursor: pointer;
}

.profile-earnings-payouts-withdrawal-balance-btn span {
  color: #5541D7;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 16.917px;
  letter-spacing: -0.226px;
}

.profile-earnings-payouts-manage-payout-methods-btn {
  color: #FFF;
  font-size: 11px;
  font-weight: 500;
  line-height: 19.333px;
  letter-spacing: -0.129px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.profile-earnings-payouts-total-balances-details {
  padding: 12px;
  width: 100%;
  border-radius: 6.444px;
  background: #FFF;
}

.profile-earnings-payouts-payment-under-clearance-div,
.profile-earnings-payouts-total-revenue-earned-div,
.profile-earnings-payouts-payment-for-active-applications-div,
.profile-earnings-payouts-payment-promotion-expenses-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-earnings-payouts-payment-under-clearance-div {
  border-bottom: 0.705px solid #F5F5F5;
  padding: 0 0 12px 0;
}

.profile-earnings-payouts-total-revenue-earned-div,
.profile-earnings-payouts-payment-for-active-applications-div {
  border-bottom: 0.705px solid #F5F5F5;
  padding: 12px 0 12px 0;
}

.profile-earnings-payouts-payment-promotion-expenses-div {
  padding: 12px 0 0 0;
}

.profile-earnings-payouts-total-balances-detail-label {
  color: #141522;
  font-size: 12.889px;
  font-weight: 500;
  line-height: 19.333px;
  letter-spacing: -0.129px;
  opacity: 0.9;
  margin: 0;
}

.profile-earnings-payouts-total-balances-detail-amount {
  color: #141522;
  font-size: 17.722px;
  font-weight: 700;
  line-height: 26.583px;
  letter-spacing: -0.354px;
  margin: 0;
}

.profile-earnings-payouts-total-balances-detail-description {
  color: #141522;
  font-size: 12.889px;
  font-weight: 500;
  line-height: 19.333px;
  letter-spacing: -0.129px;
  opacity: 0.7;
  margin: 0;
}

.profile-earnings-payouts-details-mobile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12.89px;
  background: #FFF;
  border-radius: 6.444px;
  width: 100%;
}

.profile-earnings-payouts-details-mobile-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8.75px;
  background: rgba(245, 245, 247, 0.50);
}

.profile-earnings-payouts-details-colored-activity {
  padding: 4px 7px 4px 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile-earnings-payouts-details-purple-activity-background {
  background: rgba(85, 65, 215, 0.10);
  max-width: 75px;
}

.profile-earnings-payouts-details-grey-activity-background {
  background: rgba(20, 21, 34, 0.10);
  max-width: 96px;
}

.profile-earnings-payouts-details-red-activity-background {
  background: rgba(255, 70, 29, 0.10);
  max-width: 86px;
}

.profile-earnings-payouts-details-label {
  color: #141522;
  font-size: 11px;
  font-weight: 500;
  line-height: 13.75px;
  margin: 0;
}

.profile-earnings-payouts-details-red-label {
  color: #FF461D;
}

.profile-earnings-payouts-order-number-date-time-mobile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-earnings-payouts-from-amount-clear-on-mobile-rows {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-earnings-payouts-from-amount-clear-on-mobile-rows div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-earnings-payouts-description-label {
  color: #141522;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #profile-earnings-payouts {
    padding: 148.75px 20px 48px 20px;
  }

  .profile-earnings-payouts-title-div {
    margin: 0 8px 16px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-earnings-payouts-title-div .profile-earnings-payouts-title {
    font-size: 24.5px;
    line-height: 36.75px;
    margin: 0;
  }

  .profile-earnings-payouts-sort-export-activity-div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-earnings-payouts-sortby-div {
    padding: 10.5px 14px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
    width: 37.7%;
    height: 39px;
  }

  .profile-earnings-payouts-icons {
    width: 17.5px;
    height: 17.5px;
  }

  .earnings-payouts-export-activity-report-div span,
  .profile-earnings-payouts-sortby-div .sort-by-label {
    display: contents;
  }

  .profile-earnings-payouts-sortby-div .sort-by-label {
    color: #141522;
    font-size: 12px;
    font-weight: 500;
    line-height: 18.375px;
  }

  .earnings-payouts-export-activity-report-div span {
    color: #FFF;
    font-size: 11.1px;
    font-weight: 500;
    line-height: 18.375px;
    letter-spacing: -0.245px;
  }

  .profile-earnings-payouts-sortby-div .sort-by-value,
  .profile-earnings-payouts-calendar-sort-div span {
  font-size: 12px;
  line-height: 18.375px;
  }

  .profile-earnings-payouts-sortby-dropdown,
  .profile-earnings-payouts-calendar-sortby-dropdown {
    top: 40.583px;
  }

  .profile-earnings-payouts-sortby-dropdown li,
  .profile-earnings-payouts-calendar-sortby-dropdown li {
    padding: 4px 6px;
    font-size: 12.25px;
    line-height: 18.375px;
    letter-spacing: -0.49px;  
  }

  .profile-earnings-payouts-calendar-sort-div {
    padding: 10.5px 14px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
    width: 28.8%;
    height: 39px;
  }

  .earnings-payouts-export-activity-report-div {
    width: 28.6%;
    height: 39px;
    padding: 10.5px 14px;
    border-radius: 8.75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .earnings-payouts-export-activity-report-sub-div {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .profile-earnings-payouts-summary {
    gap: 16px;
  }

  .profile-earnings-payouts-total-balances-and-buttons {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding: 16px 24px;
    border-radius: 7px;
  }

  .profile-earnings-payouts-balance-availables-div,
  .profile-earnings-payouts-balance-available {
    gap: 6px;
  }

  .profile-earnings-payouts-balance-available-label {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-total-balance {
    font-size: 24.5px;
    line-height: 36.75px;
    letter-spacing: -0.49px;
  }

  .profile-earnings-payouts-withdrawal-to-date {
    gap: 2px;
  }

  .profile-earnings-payouts-withdrawal-to-date-label,
  .profile-earnings-payouts-total-withdrawal-to-date {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-balance-available-buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 21px;
    width: 26%;
  }

  .profile-earnings-payouts-withdrawal-balance-btn {
    gap: 7px;
    width: 100%;
    padding: 10.5px 14px;
    border-radius: 8.75px;
  }

  .profile-earnings-payouts-withdrawal-balance-btn span {
    font-size: 12.25px;
    line-height: 18.375px;
    letter-spacing: -0.245px;
  }

  .profile-earnings-payouts-manage-payout-methods-btn {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-total-balances-details {
    padding: 14px;
    border-radius: 7px;
    display: flex;
  }

  .profile-earnings-payouts-total-balances-details-column {
    width: 50%;
  }

  .profile-earnings-payouts-payment-under-clearance-div,
  .profile-earnings-payouts-total-revenue-earned-div,
  .profile-earnings-payouts-payment-for-active-applications-div,
  .profile-earnings-payouts-payment-promotion-expenses-div {
    gap: 8.03px;
  }

  .profile-earnings-payouts-payment-under-clearance-div {
    position: relative;
    border-bottom: 0.766px solid #F5F5F5;
    padding: 0 28px 14px 0;
    width: 100%;
  }

  .profile-earnings-payouts-payment-under-clearance-div::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 14px;
    right: 0;
    width: 0.766px;
    background-color: #F5F5F5;
  }

  .profile-earnings-payouts-total-revenue-earned-div {
    border-bottom: 0.766px solid #F5F5F5;
    padding: 0 0 14px 28px;
  }

  .profile-earnings-payouts-payment-for-active-applications-div {
    position: relative;
    border-bottom: none;
    padding: 14px 28px 0 0;
    width: 100%;
  }

  .profile-earnings-payouts-payment-for-active-applications-div::after {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 0;
    right: 0;
    width: 0.766px;
    background-color: #F5F5F5;

  }
  .profile-earnings-payouts-payment-promotion-expenses-div {
    padding: 14px 0 0 28px;
  }

  .profile-earnings-payouts-total-balances-detail-label {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-total-balances-detail-amount {
    font-size: 19.25px;
    line-height: 28.875px;
    letter-spacing: -0.385px;
  }

  .profile-earnings-payouts-total-balances-detail-description {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-details-mobile {
    display: none;
  }

  .profile-earnings-payouts-details-tablet {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px;
    background: #FFF;
    border-radius: 7px;
    width: 100%;
  }

  .profile-earnings-payouts-details-tablet-card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 8.75px;
    background: rgba(245, 245, 247, 0.50);
  }

  .profile-earnings-payouts-details-colored-activity {
    padding: 4px 8px 4px 6px;
    gap: 7px;
  }

  .profile-earnings-payouts-details-purple-activity-background {
    max-width: 85px;
  }

  .profile-earnings-payouts-details-grey-activity-background {
    max-width: 109px;
  }

  .profile-earnings-payouts-details-red-activity-background {
    max-width: 98px;
  }

  .profile-earnings-payouts-details-label {
    font-size: 12.25px;
    line-height: 15.313px;
  }

  .profile-earnings-payouts-order-number-date-time-label-tablet-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-earnings-payouts-order-number-date-time-label-table-sub-row {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .profile-earnings-payouts-from-amount-clear-on-tablet-rows {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .profile-earnings-payouts-from-amount-clear-on-tablet-sub-rows {
  display: flex;
  justify-content: space-between;
  }

  .profile-earnings-payouts-from-tablet-column,
  .profile-earnings-payouts-amount-tablet-column,
  .profile-earnings-payouts-clear-on-tablet-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .profile-earnings-payouts-description-label {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1440px) {
  #profile-earnings-payouts {
    padding: 130px 32px 48px 32px;
  }

  .profile-earnings-payouts-title-div {
    margin: 0 0 25.5px 0;
  }

  .profile-earnings-payouts-title-div .profile-earnings-payouts-title {
    font-size: 28px;
    line-height: 42px;
  }

  .profile-earnings-payouts-sort-export-activity-div {
    width: 51%;
  }

  .profile-earnings-payouts-sortby-div {
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    height: 45px;
  }

  .profile-earnings-payouts-icons {
    width: 20px;
    height: 20px;
  }

  .profile-earnings-payouts-sortby-div .sort-by-label {
    font-size: 14px;
    line-height: 21px;
  }

  .earnings-payouts-export-activity-report-div span {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
  }

  .profile-earnings-payouts-sortby-div .sort-by-value,
  .profile-earnings-payouts-calendar-sort-div span {
  font-size: 14px;
  line-height: 21px;
  }

  .profile-earnings-payouts-sortby-dropdown,
  .profile-earnings-payouts-calendar-sortby-dropdown {
    top: 50px;
  }

  .profile-earnings-payouts-sortby-dropdown li,
  .profile-earnings-payouts-calendar-sortby-dropdown li {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.56px;  
  }

  .profile-earnings-payouts-calendar-sort-div {
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    width: 28.8%;
    height: 45px;
  }

  .earnings-payouts-export-activity-report-div {
    width: 28.64%;
    height: 45px;
    padding: 12px 16px;
    border-radius: 10px;
  }

  .earnings-payouts-export-activity-report-sub-div {
    gap: 8px;
  }

  .profile-earnings-payouts-summary {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-earnings-payouts-total-balances-and-buttons {
    flex-direction: column;
    gap: 36px;
    padding: 16px;
    border-radius: 8px;
    width: 33.3%;
  }

  .profile-earnings-payouts-balance-availables-div,
  .profile-earnings-payouts-balance-available {
    gap: 16px;
  }

  .profile-earnings-payouts-balance-available-label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .profile-earnings-payouts-total-balance {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.56px;
  }

  .profile-earnings-payouts-withdrawal-to-date {
    gap: 4px;
  }

  .profile-earnings-payouts-withdrawal-to-date-label,
  .profile-earnings-payouts-total-withdrawal-to-date {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .profile-earnings-payouts-balance-available-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .profile-earnings-payouts-withdrawal-balance-btn {
    gap: 8px;
    width: 46.5%;
    padding: 12px 16px;
    border-radius: 10px;
  }

  .profile-earnings-payouts-withdrawal-balance-btn span {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.28px;
  }

  .profile-earnings-payouts-manage-payout-methods-btn {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.14px;
  }

  .profile-earnings-payouts-total-balances-details {
    padding: 16px;
    border-radius: 8px;
    width: 65%;
  }

  .profile-earnings-payouts-payment-under-clearance-div,
  .profile-earnings-payouts-total-revenue-earned-div,
  .profile-earnings-payouts-payment-for-active-applications-div,
  .profile-earnings-payouts-payment-promotion-expenses-div {
    gap: 9.25px;
  }

  .profile-earnings-payouts-payment-under-clearance-div {
    border-bottom: 0.875px solid #F5F5F5;
    padding: 0 32px 16px 0;
  }

  .profile-earnings-payouts-payment-under-clearance-div::after {
    bottom: 16px;
    width: 0.875px;
  }

  .profile-earnings-payouts-total-revenue-earned-div {
    border-bottom: 0.875px solid #F5F5F5;
    padding: 0 0 16px 32px;
  }

  .profile-earnings-payouts-payment-for-active-applications-div {
    padding: 16px 32px 0 0;
  }

  .profile-earnings-payouts-payment-for-active-applications-div::after {
    top: 16px;
    width: 0.875px;

  }
  .profile-earnings-payouts-payment-promotion-expenses-div {
    padding: 16px 0 0 32px;
  }

  .profile-earnings-payouts-total-balances-detail-label {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .profile-earnings-payouts-total-balances-detail-amount {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.44px;
  }

  .profile-earnings-payouts-total-balances-detail-description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
  }

  .profile-earnings-payouts-details-tablet {
    display: none;
  }

  .profile-earnings-payouts-details-desktop {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background: #FFF;
    border-radius: 8px;
    width: 100%;
  }

  .profile-earnings-payouts-details-desktop-row .profile-earnings-payouts-details-label {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .profile-earnings-payouts-details-desktop-card-headers {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }

  .profile-earnings-payouts-details-desktop-card-column-seven-six-five {
    width: 7.65%;
    max-width: 7.65%;
  }

  .profile-earnings-payouts-details-desktop-card-column-four-six {
    width: 4.6%;
    max-width: 4.6%;
  }

  .profile-earnings-payouts-details-desktop-card-column-twelve-two {
    width: 12.2%;
    max-width: 12.2%;
  }

  .profile-earnings-payouts-details-desktop-card-column-twenty-five-one-six {
    width: 25.16%;
    max-width: 25.16%;
  }

  .profile-earnings-payouts-details-desktop-card-column-eleven-five {
    width: 11.5%;
    max-width: 11.5%;
  }

  .profile-earnings-payouts-details-desktop-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;  
  }
  .profile-earnings-payouts-details-desktop-row {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: rgba(245, 245, 247, 0.50);
    width: 100%;
  }
  .profile-earnings-payouts-details-desktop-activity-detail {
    display: flex;
    align-items: center;
    gap: 8px;
  } 

  .profile-earnings-payouts-details-label {
    font-size: 14px;
    line-height: 17.5px;
  }
}