.verify-identity-photo {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12.889px;
}

.verify-identity-container {
  padding: 32px 20px 24px 20px;
}

.verify-identity-logo-container {
  display: flex;
  align-items: center;
  gap: 9.67px;
  margin-bottom: 38.67px;
}

.verify-identity-logo-link {
    cursor: pointer;
}

.verify-identity-logo-icon {
  width: 32.222px;
  height: 32.222px;
  object-fit: cover;
}

.verify-identity-logo-text {
  color: #141522;
  font-size: 20.944px;
  font-weight: 700;
  line-height: 31.417px;
  letter-spacing: -0.419px;
}

.verify-identity-password-check-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.278px;
  height: 40.278px;
  padding: 12.889px; 
  border-radius: 8.056px 0;
  background: #5541D7;  
  margin-bottom: 19.33px;
}

.verify-identity-password-check-div img {
  width: 19.333px;
  height: 19.333px;
}

.verify-identity-form-div h2 {
  color: #141522;
  font-size: 25.778px;
  font-weight: 500;
  line-height: 38.667px;
  margin: 0 0 8.06px 0;
}

.verify-identity-already-enter-code-sent-message-div {
    display: flex;
    align-items: center;
    gap: 3.22px;
    margin: 0 0 29px 0;
}

.verify-identity-already-enter-code-sent-message-label {
    color: #141522;
    font-size: 11.278px;
    font-weight: 400;
    line-height: 22.556px;
    margin: 0;
}

.verify-identity-already-enter-code-sent-message-value {
    color: #141522;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    margin: 0;
}

.verify-identity-codes-div {
    height: 68.47222px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 29px 0;
}

.verify-identity-code-div {
    width: 19.54%;
    height: 100%;
}

.verify-identity-code-div input {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 12.889px 16.111px;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 21.75px;
    border-radius: 8.056px;
    border: 0.806px solid #F5F5F7;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.verify-identity-code-div input:focus {
  outline: none !important;
}

.verify-identity-code-highlighted {
  border: 0.806px solid #5541D7 !important;
}

.verify-identity-links-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 29px 0;
}

.verify-identity-back-link,
.verify-identity-didnt-receive-link {
    text-decoration: none;
    cursor: pointer;
}

.verify-identity-back-link {
color: #9C9CA4;
font-size: 11.278px;
font-weight: 500;
line-height: 16.917px;
}

.verify-identity-didnt-receive-link {
    color: #5541D7;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
}

.verify-identity-confirm-div {
    width: 100%;
    height: 36.3334px;
}

.verify-identity-confirm {
    width: 100%;
    height: 100%;
    padding: 9.667px 12.889px;
    border-radius: 8.056px;
    color: #FFF;
    font-size: 11.278px;
    font-weight: 500;
    line-height: 16.917px;
    border: none;
    background: #5541D7;    
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.verify-identity-greyLine {
    margin: 29px 0;
    width: 100%;
    height:  0.806px;
    background: #858484;
}

.verify-identity-privacy-policy-terms-of-service {
  margin: 0 0 32px 0;
}

.verify-identity-policy-terms-of-service-text {
  color: #9C9CA4;
  font-size: 9.667px;
  font-weight: 400;
  line-height: 14.5px;
  margin: 0;
}

.verify-identity-privacy-policy-text,
.verify-identity-terms-of-service-text {
  color: #5541D7;
  text-decoration: none;
  cursor: pointer;
}

.verify-identity-error-box-column {  
    margin: 0 0 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.verify-identity-error-box {
  width: 98%;
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9.667px;
    border-radius: 6.444px;
    border: 0.806px solid #EAEAEA;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
    box-shadow: 9.667px 9.667px 19.333px 0 rgba(0, 0, 0, 0.10); 
}

.verify-identity-error-box-icon {
    width: 19.333px;
    height: 19.333px;
}

.verify-identity-error-box-message {
  color: #201D1D;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 16.917px;
  letter-spacing: -0.338px;
}

.verify-identity-close-error-box-icon {
    cursor: pointer;
    width: 25.333px;
    height: 25.333px;
}

@media screen and (min-width: 768px) {
  .verify-identity-photo {
    height: 378px;
    border-radius: 14px;
  }

  .verify-identity-container {
    padding: 47px 20px 21px 20px;
  }

  .verify-identity-form-div {
    padding: 0 30px 0 30px;
  }

  .verify-identity-logo-container {
    gap: 10.5px;
    margin-bottom: 42px;
  }

  .verify-identity-logo-icon {
    width: 32.222px;
    height: 32.222px;
  }

  .verify-identity-logo-text {
    font-size: 22.75px;
    line-height: 34.123px;
    letter-spacing: -0.455px;
  }

  .verify-identity-password-check-div {
    width: 43.75px;
    height: 43.75px;
    padding: 14px; 
    border-radius: 8.75px 0;
    margin-bottom: 16px;
  }

  .verify-identity-password-check-div img {
    width: 21px;
    height: 21px;
  }

  .verify-identity-form-div h2 {
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 9px 0;
  }

  .verify-identity-already-enter-code-sent-message-div {
      gap: 3.5px;
      margin: 0 0 31.5px 0;
  }

  .verify-identity-already-enter-code-sent-message-label {
      font-size: 12.25px;
      line-height: 24.5px;
  }

  .verify-identity-already-enter-code-sent-message-value {
      font-size: 12.25px;
      line-height: 18.375px;
  }

  .verify-identity-codes-div {
      height: 74.375px;
      margin: 0 0 31.5px 0;
  }

  .verify-identity-code-div {
      width: 21.15%;
  }

  .verify-identity-code-div input {
      padding: 14px 17.5px;
      font-size: 15.75px;
      line-height: 23.625px;
      border-radius: 8.75px;
      border: 0.875px solid #F5F5F7;
  }

  .verify-identity-code-highlighted {
    border: 0.875px solid #5541D7 !important;
  }

  .verify-identity-links-div {
      margin: 0 0 31.5px 0;
  }

  .verify-identity-back-link {
  font-size: 12.25px;
  line-height: 18.375px;
  }

  .verify-identity-didnt-receive-link {
      font-size: 12.25px;
      line-height: 18.375px;
  }

  .verify-identity-confirm-div {
      height: 39px;
      display: flex;
      justify-content: flex-end;
  }

  .verify-identity-confirm {
      width: 42.7%;
      padding: 10.5px 14px;
      border-radius: 8.75px;
      font-size: 12.25px;
      line-height: 18.375px;
  }

  .verify-identity-greyLine {
      margin: 31.5px 0;
      height:  0.875px;
  }

  .verify-identity-privacy-policy-terms-of-service {
    margin: 0 0 44.38px 0;
  }

  .verify-identity-policy-terms-of-service-text {
    font-size: 10.5px;
    line-height: 15.75px;
  }

  .verify-identity-error-box-column {  
      margin: 0 0 30px 0;
  }

  .verify-identity-error-box {
    width: 54%;
    padding: 10.5px;
    border-radius: 7px;
    border: 0.875px solid #EAEAEA;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
    box-shadow: 10.5px 10.5px 21px 0 rgba(0, 0, 0, 0.10);
  }

  .verify-identity-error-box-icon {
    width: 21px;
    height: 21px;
  }

  .verify-identity-error-box-message {
    font-size: 12.25px;
    line-height: 18.375px;
    letter-spacing: -0.367px;
  }

  .verify-identity-close-error-box-icon {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .verify-identity-photo-div {
    height: 920px;
  }
  .verify-identity-photo {
    width: 715px;
    height: 100%;
    border-radius: 16px;
  }

  .verify-identity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 160px;
  }

  .verify-identity-form-div {
    width: 35.6%;
    padding: 0;
  }

  .verify-identity-logo-container {
    gap: 12px;
    margin-bottom: 48px;
  }

  .verify-identity-logo-icon {
    width: 40px;
    height: 40px;
  }

  .verify-identity-logo-text {
    font-size: 26px;
    line-height: 39px;
    letter-spacing: -0.52px;
  }

  .verify-identity-password-check-div {
    width: 50px;
    height: 50px;
    padding: 16px; 
    border-radius: 10px 0;
    margin-bottom: 24px;
  }

  .verify-identity-password-check-div img {
    width: 24px;
    height: 24px;
  }

  .verify-identity-form-div h2 {
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 10px 0;
  }

  .verify-identity-already-enter-code-sent-message-div {
      gap: 4px;
      margin: 0 0 36px 0;
  }

  .verify-identity-already-enter-code-sent-message-label {
      font-size: 14px;
      line-height: 28px;
  }

  .verify-identity-already-enter-code-sent-message-value {
      font-size: 14px;
      line-height: 21px;
  }

  .verify-identity-codes-div {
      height: 85px;
      margin: 0 0 36px 0;
  }

  .verify-identity-code-div {
      width: 21.104%;
  }

  .verify-identity-code-div input {
      padding: 16px 20px;
      font-size: 18px;
      line-height: 27px;
      border-radius: 10px;
      border: 1px solid #F5F5F7;
  }

  .verify-identity-code-highlighted {
    border: 1px solid #5541D7 !important;
  }

  .verify-identity-links-div {
      margin: 0 0 36px 0;
  }

  .verify-identity-back-link {
  font-size: 14px;
  line-height: 21px;
  }

  .verify-identity-didnt-receive-link {
      font-size: 14px;
      line-height: 21px;
  }

  .verify-identity-confirm-div {
      height: 45px;
      display: flow-root;
  }

  .verify-identity-confirm {
      width: 100%;
      padding: 12px 16px;
      border-radius: 10px;
      font-size: 14px;
      line-height: 21px;
  }

  .verify-identity-greyLine {
      margin: 36px 0;
      height:  1px;
  }

  .verify-identity-privacy-policy-terms-of-service {
    margin: 0;
  }

  .verify-identity-policy-terms-of-service-text {
    font-size: 12px;
    line-height: 18px;
  }

  .verify-identity-error-box-column {  
      margin: 80px 0 0 0;
  }

  .verify-identity-error-box {
    width: 96%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.10);
  }

  .verify-identity-error-box-icon {
    width: 24px;
    height: 24px;
  }

  .verify-identity-error-box-message {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.42px;
  }

  .verify-identity-close-error-box-icon {
    width: 40px;
    height: 40px;
  }
}