.member-navbar {
  background-color: #fff;
  width: 100%;
  padding: 16px 20px;
  border-bottom: 0.806px solid #F5F5F5;
}

.member-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.member-navbar-logo {
  display: flex;
  align-items: center;
}
.member-navbar-logo-image {
  width: 32.2px;
  height: 32.2px;
  margin-right: 9.67px;
}

.member-logo-text {
  color: #141522;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.417px;
  letter-spacing: -0.419px;
}

.member-navbar-actions {
  display: flex;
  justify-content: space-between;
  width: 106.33px;
}

.member-nav-application-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.72px;
  height: 46.72px;
  padding: 3.222px 4.833px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  cursor: pointer;
}

.member-nav-application-div a {
  display: flex;
  align-items: center;
}
.member-nav-applications-icon {
  width: 24px;
  height: 24px;
}

.member-nav-application-div span,
.member-nav-name,
.member-nav-email,
.member-navbar-up-arrow,
.member-navbar-down-arrow {
  display: none;
}
.member-profile-wrapper {
  position: relative;
}

.member-profile-nav {
  width: 46.72px;
  height: 46.72px;
  padding: 3.222px 4.833px;
  border-radius: 8.056px;
  background: #5541D7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.member-profile-nav img {
  width: 34.639px;
  height: 34.639px;
  border-radius: 80.556px;
}

.member-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5.25px;
  top: 52px;
  right: 0;
  width: 194px;
  padding: 7px;
  border-radius: 7px;
  border: 0.875px solid #F5F5F5;
  background: #FFF;
  box-shadow: 10.5px 10.5px 26.25px 0px rgba(0, 0, 0, 0.10);
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.member-dropdown-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.member-navbar-icon-div:hover {
  background: #ECE9FB;
}

.member-navbar-icon-div {
  display: flex;
  align-items: center;
  padding: 7px 10.5px;
  border-radius: 7px;
  background: #F6F5FD;
}

.member-navbar-icon-div img {
  width: 17.5px;
  height: 17.5px;
  margin-right: 7px;
}

.member-navbar-icon-div span {
  color: #141522;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.56px;
}

.member-navbar-logout-div {
  background: rgba(255, 0, 0, 0.05);
}

.member-navbar-logout-div:hover {
  background:rgba(255, 0, 0, 0.1);
}
.member-dropdown-menu .logout {
  color: #FF461D;
}

/* HEEEEERRREEEEEEEEEEEEEEE */
.active-app-tab {
  background: #5541D7 !important;
}

.active-app-tab span {
  color: #FFF !important;
}

.active-app-tab img {
  filter: brightness(0) invert(1);
}

.inactive-profile-tab {
  background: #F5F5F5 !important;
  border: 0.806px solid #F5F5F5;
}

.inactive-profile-tab .member-nav-name,
.inactive-profile-tab .member-nav-email,
.inactive-profile-tab .member-navbar-up-arrow,
.inactive-profile-tab .member-navbar-down-arrow {
  color: #141522;
  fill: #141522;
}
/* HEEEEERRREEEEEEEEEEEEEEE */
@media screen and (min-width: 768px) {
  .member-navbar {
    padding: 20px;
    border-bottom: 0.875px solid #F5F5F5;
  }

  .member-navbar-logo-image {
    width: 35px;
    height: 35px;
    margin-right: 10.5px;
  }

  .member-logo-text {
    font-size: 22.75px;
    line-height: 34.125px;
    letter-spacing: -0.455px;
  }

  .member-navbar-actions {
    width: 399.125px;
  }

  .member-nav-application-div {
    width: 141px;
    height: 50.75px;
    padding: 3.5px 12px 3.5px 8px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
  }

  .member-nav-applications-icon {
    margin-right: 10px;
  }

  .member-nav-application-div span {
    display: flow-root;
    color: #141522;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
  }

  .member-profile-nav {
    width: 244.125px;
    height: 50.72px;
    padding: 3.5px 14px 3.5px 7px;
    border-radius: 8.75px;
    justify-content: space-between;
  }

  .member-profile-nav img {
    width: 37.625px;
    height: 37.625px;
    border-radius: 87.5px;
    margin: 0 10.5px 0 0;
  }

  .member-nav-name {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
  }

   .member-nav-email {
    color: #FFF;
    font-size: 12.25px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.375px;
    margin: 0;
   }

  .member-nav-name,
  .member-nav-email,
  .member-navbar-up-arrow,
  .member-navbar-down-arrow {
    display: flow-root;
  }

  .member-navbar-up-arrow,
  .member-navbar-down-arrow {
    width: 25px;
    height: 25px;
    fill: white;
  }
  .member-dropdown-menu {
    top: 54.97px;
    width: 244.13px;
  }

  .inactive-profile-tab {
    border: 0.875px solid #F5F5F5;
  }
}
@media screen and (min-width: 1440px) {
 .member-navbar {
    padding: 24px 32px;
    border-bottom: 1px solid #F5F5F5;
  }

  .member-navbar-logo-image {
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .member-logo-text {
    font-size: 26px;
    line-height: 39px;
    letter-spacing: -0.52px;
  }

  .member-navbar-actions {
    width: 459px;
  }

  .member-nav-application-div {
    width: 164px;
    height: 58px;
    padding: 4px 16px 4px 6px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
  }

  .member-nav-applications-icon {
    margin-right: 13px;
  }

  .member-nav-application-div span {
    font-size: 16px;
    line-height: 24px;
  }

  .member-profile-nav {
    width: 279px;
    height: 58px;
    padding: 4px 16px 4px 8px;
    border-radius: 10px;
  }

  .member-profile-nav img {
    width: 43px;
    height: 43px;
    border-radius: 100px;
    margin: 0 12px 0 0;
  }

  .member-nav-name {
    font-size: 16px;
    line-height: 24px;
  }

   .member-nav-email {
    font-size: 14px;
    line-height: 21px;
   }
    .member-navbar-up-arrow,
    .member-navbar-down-arrow {
      width: 30px;
      height: 30px;
    }
  .member-dropdown-menu {
     top: 57.94px;
      width: 279px;
    gap: 8px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    box-shadow: 12px 12px 30px 0px rgba(0, 0, 0, 0.10);
  }

  .member-navbar-icon-div {
    padding: 10px 14px;
    border-radius: 10px;
  }

  .member-navbar-icon-div img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  .member-navbar-icon-div span {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.64px;
  }

    .inactive-profile-tab {
    border: 1px solid #F5F5F5;
  }
}