.profile-change-password-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 21, 34, 0.15);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-change-password-modal-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.profile-change-password-modal {
  background: #FFF;
  padding: 12.89px;
  width: 335px;
  border-radius: 12.889px;
  z-index: 10000;
  overflow-y: auto;
}

.profile-change-password-close-header {
  margin: 0 0 19.5px 0;
}

.profile-change-password-close-header h2 {
  color: #141522;
  font-size: 17.722px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.583px;
  margin: 0;
}

.profile-current-password-div label,
.profile-new-password-div label,
.profile-confirm-password-div label {
  color: #141522;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.333px;
}

.profile-current-password-div input,
.profile-new-password-div input,
.profile-confirm-password-div input {
  width: 100%;
  height: 40.278px;
  padding: 12.889px 30px 12.889px 9.667px;
  border-radius: 6.444px;
  border: 0.806px solid #F5F5F5;
  background: rgba(245, 245, 245, 0.50);
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
  margin: 6.61px 0 0 0;
  font-family: 'Poppins', sans-serif;
}

.profile-current-password-div input::placeholder,
.profile-new-password-div input::placeholder,
.profile-confirm-password-div input::placeholder {
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
  font-family: 'Poppins', sans-serif;
  opacity: 0.6;
}

.profile-change-password-line {
  width: 100%;
  border-bottom: 0.806px solid #F5F5F5;
  margin: 12.89px 0;
}

.profile-new-password-div,
.profile-confirm-password-div {
  margin: 0 0 12.89px 0;
}

.password-mismatch {
  margin: 6.44px 0 0 0;
}

.password-mismatch span {
  color: #FF461D;
  font-size: 11.28px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.92px;
}

.profile-change-password-password-requirements {
  display: flex;
  flex-direction: column;
  gap: 6.44px;
  list-style-type: none;
  margin: 0 0 19.33px 0;
  padding: 0;

}

.profile-change-password-password-requirements li {
    display: flex;
    align-items: center;
    gap: 4.83px;
    color: #141522;
    font-size: 10.5px;
    font-weight: 500;
    line-height: 16.917px;
    margin: 0;
}

.profile-change-password-password-eye {
    width: 16.11px;
    height: 16.11px;
}

.profile-change-password-validation-icon {
    width: 14.5px;
    height: 14.5px;
}

.profile-change-password-toggle-password-visibility {
  position: absolute;
  right: 9.67px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}

.profile-change-password-password-input-container {
  position: relative;
}

.profile-change-password-error-input {
  border: 0.806px solid #FF461D !important;
}

.profile-change-password-field-missing {
  color: #FF461D;
  position: absolute;
  top: -12.44px;
  right: 0;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 16.917px;
}

.profile-change-password-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.profile-change-password-cancel-button {
  padding: 9.667px 12.889px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.444px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  width: 149.8px;
  cursor: pointer;
}

.profile-change-password-cancel-button img,
.profile-change-password-save-button img  {
  width: 16.111px;
  height: 16.111px;
}

.profile-change-password-cancel-button span {
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.profile-change-password-save-button {
  padding: 9.667px 12.889px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.444px;
  border-radius: 8.056px;
  border: none;
  background: #5541D7;
  width: 149.8px;
  cursor: pointer;
}

.profile-change-password-save-button span {
  color: #FFF;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

@media screen and (min-width: 768px) {
  .profile-change-password-modal {
    padding: 14px;
    width: 558.25px;
    border-radius: 14px;
  }

  .profile-change-password-close-header {
    margin: 0 0 21px 0;
  }

  .profile-change-password-close-header h2 {
    font-size: 19.25px;
    line-height: 28.875px;
  }

  .profile-current-password-div label,
  .profile-new-password-div label,
  .profile-confirm-password-div label {
    font-size: 14px;
    line-height: 21px;
  }

  .profile-current-password-div input,
  .profile-new-password-div input,
  .profile-confirm-password-div input {
    height: 43.75px;
    padding: 14px 30px 14px 10.5px;
    border-radius: 7px;
    border: 0.875px solid #F5F5F5;
    font-size: 12.25px;
    line-height: 18.375px;
    margin: 7px 0 0 0;
  }

  .profile-current-password-div input::placeholder,
  .profile-new-password-div input::placeholder,
  .profile-confirm-password-div input::placeholder {
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .profile-change-password-line {
    border-bottom: 0.875px solid #F5F5F5;
    margin: 14px 0;
  }

  .profile-new-password-div,
  .profile-confirm-password-div {
    margin: 0 0 14px 0;
  }

  .password-mismatch {
    margin: 7px 0 0 0;
  }

  .password-mismatch span {
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .profile-change-password-password-requirements {
    gap: 6.44px;
      margin: 0 0 21px 0;

  }

  .profile-change-password-password-requirements li {
      gap: 5.25px;
      font-size: 12.25px;
      line-height: 18.375px;
  }

  .profile-change-password-password-eye {
      width: 17.5px;
      height: 17.5px;
  }

  .profile-change-password-validation-icon {
      width: 15.75px;
      height: 15.75px;
  }

  .profile-change-password-toggle-password-visibility {
    right: 10.5px;
  }

  .profile-change-password-error-input {
    border: 0.875px solid #FF461D !important;
  }

  .profile-change-password-field-missing {
    top: -13px;
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .profile-change-password-cancel-button {
    padding: 10.5px 14px;
    gap: 7px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
    width: 257.875px;
  }

  .profile-change-password-cancel-button img,
  .profile-change-password-save-button img {
    width: 17.5px;
    height: 17.5px;
  }

  .profile-change-password-cancel-button span,
  .profile-change-password-save-button span {
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .profile-change-password-save-button {
    padding: 10.5px 14px;
    gap: 7px;
    border-radius: 8.75px;
    width: 257.875px;
  }
}
@media screen and (min-width: 1440px) {
  .profile-change-password-modal {
    padding: 16px;
    width: 638px;
    border-radius: 16px;
  }

  .profile-change-password-close-header {
    margin: 0 0 24px 0;
  }

  .profile-change-password-close-header h2 {
    font-size: 16px;
    line-height: 33px;
  }

  .profile-current-password-div label,
  .profile-new-password-div label,
  .profile-confirm-password-div label {
    font-size: 14px;
    line-height: 24px;
  }

  .profile-current-password-div input,
  .profile-new-password-div input,
  .profile-confirm-password-div input {
    height: 50px;
    padding: 16px 30px 16px 12px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    font-size: 14px;
    line-height: 21px;
    margin: 8px 0 0 0;
  }

  .profile-current-password-div input::placeholder,
  .profile-new-password-div input::placeholder,
  .profile-confirm-password-div input::placeholder {
    font-size: 14px;
    line-height: 21px;
  }

  .profile-change-password-line {
    border-bottom: 1px solid #F5F5F5;
    margin: 16px 0;
  }

  .profile-new-password-div,
  .profile-confirm-password-div {
    margin: 0 0 16px 0;
  }

  .password-mismatch {
    margin: 8px 0 0 0;
  }

  .password-mismatch span {
    font-size: 14px;
    line-height: 21px;
  }

  .profile-change-password-password-requirements {
    gap: 6.44px;
      margin: 0 0 21px 0;

  }

  .profile-change-password-password-requirements li {
      gap: 6px;
      font-size: 14px;
      line-height: 21px;
  }

  .profile-change-password-password-eye {
      width: 20px;
      height: 20px;
  }

  .profile-change-password-validation-icon {
      width: 18px;
      height: 18px;
  }

  .profile-change-password-toggle-password-visibility {
    right: 12px;
  }

  .profile-change-password-error-input {
    border: 1px solid #FF461D !important;
  }

  .profile-change-password-field-missing {
    top: -14px;
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .profile-change-password-cancel-button {
    padding: 12px 16px;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    width: 297px;
  }

  .profile-change-password-cancel-button img,
  .profile-change-password-save-button img  {
    width: 20px;
    height: 20px;
  }

  .profile-change-password-cancel-button span,
  .profile-change-password-save-button span {
    font-size: 14px;
    line-height: 21px;
  }

  .profile-change-password-save-button {
    padding: 12px 16px;
    gap: 8px;
    border-radius: 10px;
    width: 297px;
  }
}