.appHome-modal-carousel-section {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 0 16px 0;
}

.appHome-modal-carousel-image.selected {
  border: 2.419px solid #5541D7;
}

.appHome-modal-carousel-container {
    width: 100%;
    display: flex;
}

.appHome-modal-carousel-track {
    display: flex;
    animation: scroll-right 20s linear infinite;
    gap: 9.67px;
}

.appHome-modal-carousel-image {
  cursor: pointer;
    width: 109.442px;
    height: 109.442px;
    border-radius: 7.256px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
  .appHome-modal-carousel-section {
    width: 130px;
    max-height: 544px;
    margin: 0;

  }

  .appHome-modal-carousel-container {
    width: 130px;
    height: 100%;
  }

  .appHome-modal-carousel-track {
    display: flex;
    flex-direction: column;
    animation: scroll-vertical 20s linear infinite;
    gap: 14px;
  }

  .appHome-modal-carousel-image.selected {
    border: 3.5px solid #5541D7;
  }
  .appHome-modal-carousel-image {
    width: 130px;
    height: 130px;
    border-radius: 10.5px;
    flex-shrink: 0;
  }

  @keyframes scroll-vertical {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
  }
}

@media screen and (min-width: 1440px) {
  .appHome-modal-carousel-section {
    width: 601px;
    height: 181px;
  }

  .appHome-modal-carousel-container {
    width: 100%;
    height: 100%;
  }

  .appHome-modal-carousel-track {
    flex-direction: row;
    animation: scroll-right 20s linear infinite;
    gap: 16px;
  }

  .appHome-modal-carousel-image.selected {
    border: 4px solid #5541D7;
  }
  .appHome-modal-carousel-image {
    width: 181px;
    height: 181px;
    border-radius: 12px;
  }

    @keyframes scroll-right {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0);
        }
    }
}
