.appHome-modal-carousel-section {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 0 16px 0;
}

.appHome-modal-carousel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.appHome-modal-carousel-track {
    display: flex;
    animation: scroll-right 15s linear infinite;
    gap: 9.67px;
}

.appHome-modal-carousel-image {
    width: 109.442px;
    height: 109.442px;
    border-radius: 7.256px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

@keyframes scroll-right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
    .appHome-modal-carousel-section {
        padding: 50.4px 0;
    }

    .appHome-modal-carousel-image {
        width: 453.6px;
        height: 454.65px;
        margin-right: 33.6px;
        border-radius: 21px;
    }
}

@media screen and (min-width: 1440px) {
    .appHome-modal-carousel-section {
        padding: 57.6px 0;
    }

    .appHome-modal-carousel-image {
        width: 518.4px;
        height: 519.6px;
        margin-right: 38.4px;
        border-radius: 24px;
    }
}
