.profile-confirmation-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 21, 34, 0.15);
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-confirmation-modal-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.profile-confirmation-modal {
  background: #FFF;
  padding: 12px;
  width: 335px;
  border-radius: 16px;
  z-index: 10002;
}

.profile-confirmation-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 8px 0;
}

.profile-confirmation-modal-photo {
    width: 40px;
    height: 40px;
}

.profile-confirmation-modal-x-icon,
.profile-confirmation-modal-cancel button,
.profile-confirmation-modal-confirm button {
    cursor: pointer;
}

.profile-confirmation-modal-x-icon img {
    width: 24px;
    height: 24px;

}

.profile-confirmation-modal-title,
.profile-confirmation-modal-sub-title {
    color: #141522;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 8px 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.profile-confirmation-modal-sub-title {
    color: #141522;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 12px 0;
}

.profile-confirmation-modal-buttons {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 12px;
}

.profile-confirmation-modal-cancel {
    width: 71px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    background: #FFF;
}

.profile-confirmation-modal-cancel button {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    color: #141522;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    background: none;
    border: none;
}

.profile-confirmation-modal-confirm {
    width: 144px;
    height: 42px;
    border-radius: 10px;
    background: #5541D7;
}

.profile-confirmation-modal-confirm button {
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.profile-confirmation-modal-confirm img {
    width: 18px;
    height: 18px;
}
@media screen and (min-width: 768px) {
    .profile-confirmation-modal {
        width: 420px;
    }

    .profile-confirmation-modal-header {
        margin: 0 0 12px 0;
    }

    .profile-confirmation-modal-photo {
        width: 50px;
        height: 50px;
    }

    .profile-confirmation-modal-sub-title {
        margin: 0 0 16px 0;
    }

    .profile-confirmation-modal-cancel {
        width: 78px;
        height: 45px;
    }

    .profile-confirmation-modal-cancel button {
        font-size: 14px;
        line-height: 21px;
    }

    .profile-confirmation-modal-confirm {
        width: 160px;
        height: 45px;
    }

    .profile-confirmation-modal-confirm button {
        font-size: 12px;
        line-height: 21px;
    }

    .profile-confirmation-modal-confirm img {
        width: 20px;
        height: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .profile-confirmation-modal {
        width: 497px;
        padding: 16px;
    }

    .profile-confirmation-modal-header {
        margin: 0 0 16px 0;
    }

    .profile-confirmation-modal-photo {
        width: 70px;
        height: 70px;
    }

    .profile-confirmation-modal-title {
        font-size: 22px;
        line-height: 33px;
    }

    .profile-confirmation-modal-sub-title {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 24px 0;
    }

    .profile-confirmation-modal-cancel {
        width: 84px;
        height: 48px;
    }

    .profile-confirmation-modal-cancel button {
        font-size: 16px;
        line-height: 24px;
    }

    .profile-confirmation-modal-confirm {
        width: 174px;
        height: 48px;
    }

    .profile-confirmation-modal-confirm button {
        font-size: 16px;
        line-height: 24px;
    }

    .profile-confirmation-modal-confirm img {
        width: 20px;
        height: 20px;
    }
}