.forget-password-photo {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 12.889px;
}

.forget-password-container {
  padding: 32px 20px 24px 20px;
}

.forget-password-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 38.67px;
}

.forget-password-logo-icon {
  width: 32.222px;
  height: 32.222px;
  object-fit: cover;
  margin-right: 9.67px;
}

.forget-password-logo-text {
  color: #141522;
  font-size: 20.944px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.419px;
}

.forget-password-form-div h2 {
  color: #141522;
  font-size: 25.778px;
  font-weight: 500;
  line-height: 150%;
  margin: 0 0 8.06px 0;
}

.forget-password-already-have-account-div {
  display: flex;
  align-items: center;
  margin: 0 0 29px 0;
  gap: 5px;
}

.forget-password-already-have-account-div p {
  margin: 0;
  color: #141522;
  font-size: 11.278px;
  font-weight: 400;
  line-height: 200%; 
}

.forget-password-already-have-account-div a {
color: #5541D7;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 150%;
}

.forget-password-email-username-div {
  width: 100%;
  margin: 0 0 19.33px 0;
}

.forget-password-email-username {
  color: #141522;
  font-size: 12.889px;
  font-weight: 700;
  line-height: 150%; 
}

.forget-password-email-username input {
  width: 100%;
  height: 40.27778px;
  margin: 6.44px 0 0 0;
  color: #141522;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 6.667px;
  padding: 12.89px 9.67px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  font-family: 'Poppins', sans-serif;
}

.forget-password-email-username input::placeholder {
  font-family: 'Poppins', sans-serif;
  opacity: 0.6;
  font-size: 11.278px;
  font-weight: 500;
}

.forget-password-field-missing {
  color: #FF461D;
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 150%;
}

.forget-password-error-icon {
  position: absolute;
  right: 12px;
  top: 55%;
  transform: translateY(-50%);
  height: 16.111px;
  width: 16.111px;
}

.verification-code {
  padding: 9.667px 12.889px;
  width: 100%;
  height: 36.33334px;
  color:#FFF;
  font-size: 11.278px;
  font-weight: 500;
  line-height: 150%; 
  border-radius: 8.056px;
  background: #5541D7;
  border: none;
}

.forget-password-greyLine {
  border: 0.806px solid #e6e6e6 !important;
  margin: 29px 0;
}

.forget-password-error-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 0, 0, 0.05);
  border: 0.806px solid #EAEAEA;
  padding: 9.667px;
  border-radius: 6.444px;
  width: 100%;
  box-shadow: 9.667px 9.667px 19.333px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 32px;
}

.forget-password-error-box-icon {
  width: 19.333px;
}

.forget-password-error-box-message {
  color: #201D1D;
  font-size: 12.278px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.338px;
}
.forget-password-close-error-box-icon {
  cursor: pointer;
  font-size: 19.333px;
}

/* Close button hover effect */
.forget-password-error-box .close-btn:hover {
  color: #a94442;
}
@media screen and (min-width: 768px) {
  .forget-password-photo {
      height: 466px;
      border-radius: 14px;
  }
  
  .forget-password-container {
      padding: 60px 20px 20px 20px;
  }
  
  .forget-password-logo-container {
      margin-bottom: 42px;
  }
  
  .forget-password-logo-icon {
      width: 35px;
      height: 35px;
      margin-right: 10.5px;
  }
  
  .forget-password-logo-text {
      font-size: 22.75px;
      letter-spacing: -0.455px;
  }
  
  .forget-password-form-div h2 {
      font-size: 28px;
      margin: 0 0 8.75px 0;
  }

  .forget-password-already-have-account-div {
      margin: 0 0 31.5px 0;
      gap: 8px;
  }
  
  .forget-password-already-have-account-div p {
      font-size: 12.25px;
  }
  
  .forget-password-already-have-account-div a {
      font-size: 12.25px;
  }

  .forget-password-email-username-div {
      margin: 0;
  }
  .forget-password-email-username-div {
      margin-bottom: 21px;
  }
  .forget-password-email-username {
      font-size: 14px;
  }
  
  .forget-password-email-username input {
      width: 100%;
      height: 43.75px;
      margin: 7px 0 0 0;
      font-size: 12.25px;
      border-radius: 7px;
      padding: 14px 10.5px;
      border: 0.875px solid #F5F5F5;
  }
  
  .forget-password-email-username input::placeholder {
    font-size: 12.25px;
  }

  .forget-password-password-div {
      margin-bottom: 0;
  }
  
  .send-verification-div {
    display: flex;
    justify-content: end;
  }

  .verification-code {
      padding: 10.5px 14px;
      width: 285px;
      height: 39px;
      font-size: 12.25px;
      border-radius: 8.75px;
  }
  
  .forget-password-greyLine {
      margin: 31.5px 0;
  }

  .forget-password-field-missing {
      top: -20px;
      font-size: 12.25px;
  }

  .forget-password-error-box-column {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .forget-password-error-box {
      width: 311px;
      height: 42px;
      border: 0.875px solid  #EAEAEA;
      padding: 10.5px;
      border-radius: 7px;
      box-shadow: 10.5px 10.5px 21px 0px rgba(0, 0, 0, 0.10);
      margin-bottom: 30px;
    }
  
    .forget-password-error-box-icon {
      width: 21px;
    }
    
    .forget-password-error-box-message {
      font-size: 12.25px;
      letter-spacing: -0.367px;
    }
    .forget-password-close-error-box-icon {
      font-size: 17.5px;
    }
}
@media screen and (min-width: 1440px) {
  .forget-password-photo {
      width: 715px;
height: 920px;
      border-radius: 16px;
  }

  .forget-password-container {
      display: flex;
      justify-content: end;
      padding: 20px;
  }

  .forget-password-form-div {
      margin: 172.5px 160px 0 140px;
  }

  .forget-password-logo-container {
      margin-bottom: 48.5px;
  }
  
  .forget-password-logo-icon {
      width: 40px;
      height: 40px;
      margin-right: 12px;
  }
  
  .forget-password-logo-text {
      font-size: 26px;
      letter-spacing: -0.52px;
  }
  
  .forget-password-form-div h2 {
      font-size: 32px;
      margin: 0 0 10px 0;
  }

  .forget-password-already-have-account-div {
      margin: 0 0 36px 0;
  }
  
  .forget-password-already-have-account-div p {
      font-size: 14px;
  }
  
  .forget-password-already-have-account-div a {
      font-size: 14px;
  }

  .forget-password-email-username-div {
      margin-bottom: 24px;
  }
  
  .forget-password-email-username {
    font-size: 16px;
  }
  .forget-password-email-username input {
    width: 385px;
    height: 50px;
    margin: 8px 0 0 0;
    font-size: 14px;
    border-radius: 8px;
    padding: 16px 12px;
    border: 0.875px solid #F5F5F5;
  }

  .forget-password-email-username input::placeholder {
    font-size: 14px;
  }

  .send-verification-div {
    display: flow-root;
  }
  .verification-code {
      padding: 12px 16px;
      width: 100%;
      height: 45px;
      font-size: 14px;
      border-radius: 10px;
  }
  
  .forget-password-greyLine {
      margin: 36px 0;
  }
}