@media screen and (min-width: 1440px) {
    .home-navbar-mobile {
        display: none;
    }

    .home-navbar-desktop {
        display: flex;
        padding: 28.8px 60px;
        background-color: #FFF;
        width: 100%;
        height: 111.4px;
        max-height: 111.4px;
    }
    
    .home-navbar-container-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .home-navbar-logo-desktop {
        display: flex;
        align-items: center;
    }
    
    .home-logo-image-desktop {
        width: 40.8px;
        margin-right: 12.24px;
    }
    
    .home-logo-text-desktop {
        color: #141522;
        font-size: 26.52px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.53px;
    }
    
    .home-navbar-options {
        display: flex;
        align-items: center;
    }
    .home-navbar-links-desktop {
        display: flex;
        gap: 38.4px;
    }
    
    .home-navbar-link-desktop {
        color: #111827;
        font-size: 16.8px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    .home-navbar-link-desktop:hover {
        color: #6366F1;
    }
    
    .home-navbar-actions-desktop {
        display: flex;
        align-items: center;
        border-left:  1.2px solid #D1D5DB;
        gap: 38.4px;
        padding-left: 57.6px;
        margin-left: 57.6px;

    }
    
    .home-navbar-login-desktop {
        color: #111827;
        font-size: 16.8px;
        font-weight: 500;
        line-height: 150%;
    }
    
    .home-navbar-signup-desktop {
        background-color: #5541D7;
        color: #FFF;
        font-size: 16.8px;
        font-weight: 500;
        line-height: 150%;
        padding: 14.4px 28.8px;
        border-radius: 12px;
    }
}