.upload-edit-app-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 21, 34, 0.15);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-edit-app-modal-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.upload-edit-app-modal {
  background: #FFF;
  padding: 15px;
  width: 89.3%;
  height: 95%;
  border-radius: 12.889px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upload-edit-app-close-header {
  height: 5%;
  margin: 0;
}

.upload-edit-app-close-modal-div {
    display: none;
}

.upload-edit-app-close-header h2 {
  color: #141522;
  font-size: 17.722px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.583px;
  margin: 0;
}

.upload-edit-app-modal form {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upload-edit-app-body {
  height: 88%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.upload-edit-app-name-price,
.upload-edit-app-tech-desc-repo {
    display: flex;
    flex-direction: column;
    gap: 12.889px;
}

.upload-edit-app-tech-desc-repo {
    margin: 12.889px 0 0 0;
}

.upload-edit-app-label-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-edit-app-name label,
.upload-edit-app-price label,
.upload-edit-app-tech-stack .tech-used,
.upload-edit-app-summary label,
.upload-edit-app-repo label {
    color: #141522;
    font-size: 12.889px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.333px;
}

.upload-edit-app-required {
    color: #FF4D5E;
    font-size: 12.889px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.upload-edit-app-name input,
.upload-edit-app-price input,
.upload-edit-app-repo input {
  width: 100%;
  margin: 6.44px 0 0 0;
  height: 40.278px;
  padding: 12.889px 9.667px;
  border-radius: 6.444px;
  border: 0.806px solid #F5F5F5;
  background: rgba(245, 245, 245, 0.50);
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
  font-family: 'Poppins', sans-serif;
}

.upload-edit-app-name input::placeholder,
.upload-edit-app-price input::placeholder,
.upload-edit-app-tech-stack .techName::placeholder,
.upload-edit-app-summary textarea::placeholder,
.upload-edit-app-repo input::placeholder {
    color: #141522;
    font-size: 11.278px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.917px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
}

.upload-edit-app-tech-stack-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-edit-app-tech-stack-comma-separated {
  color: #141522;
  font-size: 11.278px;
  font-style: italic;
  font-weight: 500;
  line-height: 16.917px;
  letter-spacing: -0.338px;
  opacity: 0.8;
}

.upload-edit-app-tech-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin: 6.61px 0 0 0;
  list-style-type: none;
  padding: 6.889px 9.667px;
  border: 0.806px solid #F5F5F5;
  border-radius: 6.444px;
  background: rgba(245, 245, 245, 0.50);
  min-height: 40.28px;
}

.upload-edit-app-tech-tag {
  display: inline-flex;
  align-items: center;
  gap: 9.67px;
  padding: 4.833px 4.833px 4.833px 9.667px;
  border-radius: 12.889px;
  background: rgba(85, 65, 215, 0.15);
  color: #5541D7;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.upload-edit-app-tech-tag span {
  max-width: 116px;
  max-height: 26.7px;
  overflow-y: auto;
  color: #5541D7;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.upload-edit-app-tech-delete {
  width: 16.111px;
  height: 16.111px;
  cursor: pointer;
}

.upload-edit-app-tech-container .techName {
  border: none;
  outline: none;
  flex: 1;
  min-width: 131.72px;
  background: transparent;
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
  font-family: 'Poppins', sans-serif;
}


.upload-edit-app-summary textarea {
    color: #141522;
    font-size: 11.278px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.917px;
    padding: 12.889px 9.667px;
    border-radius: 6.444px;
    border: 0.806px solid #F5F5F5;
    background: rgba(245, 245, 245, 0.50);
    margin: 6.44px 0 0 0;
    width: 100%;
    height: 133.1px;
    max-height: 133.1px;
    overflow-y: auto;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.upload-edit-app-line {
    border-bottom: 0.806px solid #F5F5F5;
    margin: 19.33px 0;
}

.upload-edit-app-photos {
    display: flex;
    flex-direction: column;
    gap: 12.889px;
}

.upload-edit-app-photos .upload-edit-app-label-div {
  margin: 0 0 6.44px 0;
}

.upload-edit-app-photos h3 {
  color: #141522;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.333px;
  margin: 0;
}

.upload-edit-app-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 45px;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1.208px dashed rgba(85, 65, 215, 0.30);
  background: rgba(245, 245, 245, 0.50);
  cursor: pointer;
}

.upload-edit-app-upload p span {
  color: #5541D7;
  text-align: center;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.333px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}

.upload-edit-app-upload p {
  color: #141522;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.333px;
  margin: 0;
}

.upload-edit-app-uploading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 16px 12px;
  border-radius: 8px;
  border: none;
  background: rgba(85, 65, 215, 0.10);
}

.upload-edit-app-uploading-img-file,
.upload-edit-app-uploading-upload-txt-close {
  display: flex;
  align-items: center;
  gap: 12px;
}

.upload-edit-app-upload-img,
.upload-edit-app-upload img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.upload-edit-app-uploading-text {
  color: #141522;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.333px;
  max-width: 78.48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-edit-app-uploaded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  padding: 16px 12px;
  border-radius: 8px;
  border: none;
  background: rgba(85, 65, 215, 0.10);
}

.upload-edit-app-uploaded-folder-file {
  display: flex;
  align-items: center;
  gap: 12px;
}

.upload-edit-app-uploaded-text {
  color: #141522;
  font-size: 12.889px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.333px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-edit-app-photos-line {
  border-bottom: 0.806px solid #F5F5F5;
}

.upload-edit-app-uploaded-images {
  display: grid;
  gap: 9.67px;
  grid-template-columns: repeat(auto-fit, 147.5px);
  align-items: start;
  justify-content: center;
}

.upload-edit-app-uploaded-images .uploadedImageContainer {
    width: 100%;
    height: 109.556px;
}

.upload-edit-app-uploaded-images .uploadedImage {
  position: relative;
}

.upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation {
  z-index: 2;
}

.upload-edit-app-uploaded-images .uploadedImage .previewImg {
  width: 100%;
  height: 109.556px;
  border-radius: 6.444px;
  object-fit: cover;
}

.upload-edit-app-video-duration {
  position: absolute;
  top: 6.44px;
  left: 6.44px;
  display: flex;
  align-items: self-end;
  gap: 6.44px;
  padding: 3.222px 6.444px;
  border-radius: 8.056px;
  background: rgba(255, 255, 255, 0.70);
  width: 60.03px;
  height: 20.14px;
  z-index: 2;
}

.upload-edit-app-video-duration img {
  width: 13.694px;
  height: 13.694px;
}

.upload-edit-app-video-duration span {
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.406px;
  letter-spacing: -0.226px;
}

.upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash {
  position: absolute;
  top: 6.44px;
  right: 6.44px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.222px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  width: 25.8px;
  height: 25.8px;
  cursor: pointer;
  z-index: 2;
}

.upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash img {
  width: 19.333px;
  height: 19.333px;
}

.upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation {
  position: absolute;
  bottom: 13.44px;
  right: 6.61px;
  display: flex;
  align-items: flex-end;
  padding: 3.222px 6.444px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  width: 103.9px;
  height: 26.6px;
  cursor: pointer;
}

.upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation span {
  color: #141522;
  font-size: 9.1px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
  letter-spacing: -0.226px;
}

.upload-edit-app-uploaded-photo-make-presentation.selected-presentation {
  background: #5541D7;
  border-color: #5541D7;
  border: 0.806px solid #5541D7;
}

.upload-edit-app-uploaded-photo-make-presentation.selected-presentation span {
  color: #FFF;
}

.upload-edit-app-draft-cancel-save {
  margin: 19.33px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-edit-app-draft {
  width: 100%;
  height: 36.3px;
}

.upload-edit-app-draft button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.444px;
  padding: 9.667px 12.889px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #F5F5F5;
  cursor: pointer;
}

.upload-edit-app-draft button  img {
  width: 16.111px;
  height: 16.111px;
}

.upload-edit-app-draft button  span {
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.upload-edit-app-cancel-save {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.upload-edit-app-cancel,
.upload-edit-app-save {
  width: 48.5%;
  height: 36.3px;
}

.upload-edit-app-cancel button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.44px;
  padding: 9.667px 12.889px;
  border-radius: 8.056px;
  border: 0.806px solid #F5F5F5;
  background: #FFF;
  cursor: pointer;
}

.upload-edit-app-cancel img,
.upload-edit-app-save img {
  width: 16.111px;
  height: 16.111px;
}

.upload-edit-app-cancel span {
  color: #141522;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.upload-edit-app-save button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.44px;
  padding: 9.667px 12.889px;
  border: none;
  border-radius: 8.056px;
  background: #5541D7;
  cursor: pointer;
}

.upload-edit-app-save span {
  color: #FFF;
  font-size: 11.278px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.917px;
}

.upload-edit-app-error-banner {
  position: absolute;
  top: 79px;
  right: 20px;
  border-radius: 7px;
  border: 0.875px solid #EAEAEA;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.05) 0%, rgba(255, 0, 0, 0.05) 100%), #FFF;
  box-shadow: 10.5px 10.5px 21px 0px rgba(0, 0, 0, 0.10);
  padding: 10.5px;
  display: flex;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}

.upload-edit-app-error-icon-banner {
  width: 17px;
  height: 17px;
  margin: 0 7px 0 0;
}

.upload-edit-app-close-banner-button {
  width: 100%;
  height: 100%;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.upload-edit-app-error-box-message-banner {
  color: #201D1D;
  font-size: 11.28px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.92px;
  letter-spacing: -0.338px;
  margin: 0 10.5px 0 0;
}

.upload-edit-app-field-missing {
  color: #FF461D;
  font-size: 11.28px;
  font-weight: 500;
  line-height: 16.92px;
  margin: 0;
}

.upload-edit-app-close-banner-button img {
    width:  17.5px;
    height:  17.5px;
}
@media screen and (min-width: 768px) {
  .upload-edit-app-modal {
    padding: 14px;
    width: 95%;
    border-radius: 14px;
  }

  .upload-edit-app-close-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .upload-edit-app-close-modal-div {
    display: flow-root;
  }

  .upload-edit-app-close-modal-div .upload-edit-app-close-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .upload-edit-app-close-modal-div .upload-edit-app-close-button img {
    width: 21px;
    height: 21px;
  }

  .upload-edit-app-close-header h2 {
    font-size: 19.25px;
    line-height: 28.875px;
  }

  .upload-edit-app-name-price {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .upload-edit-app-tech-desc-repo {
    margin: 14px 0 0 0;
    gap: 14px;
  }

  .upload-edit-app-name {
    width: 74%;
  }

  .upload-edit-app-price {
    width: 23.9%;
  }

  .upload-edit-app-name label,
  .upload-edit-app-price label,
  .upload-edit-app-tech-stack .tech-used,
  .upload-edit-app-summary label,
  .upload-edit-app-repo label {
      font-size: 14px;
      line-height: 21px;
  }

  .upload-edit-app-required {
      font-size: 14px;
      line-height: 21px;
  }

  .upload-edit-app-name input,
  .upload-edit-app-price input,
  .upload-edit-app-repo input {
    margin: 7px 0 0 0;
    height: 43.75px;
    padding: 14px 10.5px;
    border-radius: 7px;
    border: 0.875px solid #F5F5F5;
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .upload-edit-app-name input::placeholder,
  .upload-edit-app-price input::placeholder,
  .upload-edit-app-tech-stack .techName::placeholder,
  .upload-edit-app-summary textarea::placeholder,
  .upload-edit-app-repo input::placeholder {
      font-size: 12.25px;
      line-height: 18.375px;
  }

  .upload-edit-app-tech-stack-comma-separated {
    font-size: 12.25px;
    line-height: 18.375px;
    letter-spacing: -0.367px;
  }

  .upload-edit-app-tech-container {
    gap: 10.5px;
    margin: 7px 0 0 0;
    padding: 14px 10.5px;
    border: 0.875px solid #F5F5F5;
    border-radius: 7px;
    min-height: 43.75px;
  }

  .upload-edit-app-tech-tag {
    gap: 10.5px;
    padding: 5.25px 5.25px 5.25px 10.5px;
    border-radius: 14px;
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .upload-edit-app-tech-tag span {
    max-width: 126px;
    max-height: 28.5px;
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .upload-edit-app-tech-delete {
    width: 17.5px;
    height: 17.5px;
  }

  .upload-edit-app-tech-container .techName {
    min-width: 511.75px;
    font-size: 11.278px;
    line-height: 16.917px;
  }


  .upload-edit-app-summary textarea {
      font-size: 12.25px;
      line-height: 18.375px;
      padding: 14px 10.5px;
      border-radius: 7px;
      border: 0.875px solid #F5F5F5;
      margin: 7px 0 0 0;
      height: 170.625px;
      max-height: 170.625px;
  }

  .upload-edit-app-line {
      border-bottom: 0.875px solid #F5F5F5;
      margin: 21px 0;
  }

  .upload-edit-app-photos {
      gap: 14px;
  }

  .upload-edit-app-photos .upload-edit-app-label-div {
    margin: 0 0 7px 0;
  }

  .upload-edit-app-photos h3 {
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-upload {
    gap: 15px;
    height: 50px;
  }

  .upload-edit-app-upload p span,
  .upload-edit-app-upload p {
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-uploading {
    height: 50px;
  }

  .upload-edit-app-uploading-img-file,
  .upload-edit-app-uploading-upload-txt-close,
  .upload-edit-app-uploaded-folder-file {
    gap: 15px;
  }

  .upload-edit-app-uploading-text {
    font-size: 14px;
    line-height: 21px;
    max-width: 217.48px;
  }

  .upload-edit-app-uploaded {
    height: 50px;
  }

  .upload-edit-app-uploaded-text {
    font-size: 14px;
    line-height: 21px;
    max-width: 156px;
  }

  .upload-edit-app-photos-line {
    border-bottom: 0.875px solid #F5F5F5;
  }

  .upload-edit-app-uploaded-images {
    gap: 10.5px;
    grid-template-columns: repeat(auto-fit, 167px);
  }

  .upload-edit-app-uploaded-images .uploadedImageContainer {
      height: 108px;
  }

  .upload-edit-app-uploaded-images .uploadedImage .previewImg {
    height: 108px;
    border-radius: 7px;
  }

  .upload-edit-app-video-duration {
    top: auto;
    left: 7.5px;
    bottom: 12.62px;
    gap: 6.44px;
    padding: 3.5px 7px;
    border-radius: 8.75px;
    width: 65.875px;
    height: 21.875px;
  }

  .upload-edit-app-video-duration img {
    width: 14.875px;
    height: 14.875px;
  }

  .upload-edit-app-video-duration span {
    font-size: 12.25px;
    line-height: 13.475px;
    letter-spacing: -0.245px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash {
    top: 7px;
    right: 7px;
    padding: 3.222px;
    border-radius: 8.056px;
    border: 0.875px solid #F5F5F5;
    width: 28px;
    height: 28px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash img {
    width: 21px;
    height: 21px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation {
    bottom: auto;
    right: auto;
    top: 7px;
    left: 13.75px;
    padding: 3.5px 7px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
    width: 113px;
    height: 28.875px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation span {
    font-size: 9.9px;
    line-height: 18.375px;
    letter-spacing: -0.245px;
  }

  .upload-edit-app-uploaded-photo-make-presentation.selected-presentation {
    border: 0.875px solid #5541D7;
  }

  .upload-edit-app-draft-cancel-save {
    margin: 21px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .upload-edit-app-draft {
    width: 19%;
    height: 39px;
  }

  .upload-edit-app-draft button {
    width: 100%;
    height: 100%;
    gap: 7px;
    padding: 10.5px 14px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
  }

  .upload-edit-app-draft button  img {
    width: 17.5px;
    height: 17.5px;
  }

  .upload-edit-app-draft button  span {
    font-size: 12.25px;
    line-height:  18.375px;
  }

  .upload-edit-app-cancel-save {
    width: 35%;
    display: flex;
    justify-content: space-between;
  }

  .upload-edit-app-cancel {
    width: 39%;
    height: 39px;
  }
  .upload-edit-app-save {
    width: 57%;
    height: 39px;
  }

  .upload-edit-app-cancel button {
    gap: 7px;
    padding: 10.5px 14px;
    border-radius: 8.75px;
    border: 0.875px solid #F5F5F5;
  }

  .upload-edit-app-cancel img,
  .upload-edit-app-save img {
    width: 17.5px;
    height: 17.5px;
  }

  .upload-edit-app-cancel span {
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .upload-edit-app-save button {
    gap: 7px;
    padding: 10.5px 14px;
    border-radius: 8.75px;
  }

  .upload-edit-app-save span {
    font-size: 12.25px;
    line-height: 18.375px;
  }

  .upload-edit-app-error-banner {
    top: 88.19px;
    right: 18.5px;
  }

  .upload-edit-app-error-icon-banner {
    width: 21px;
    height: 21px;
  }

  .upload-edit-app-error-box-message-banner {
    font-size: 12.25px;
    line-height: 18.375px;
    letter-spacing: -0.367px;
  }

  .upload-edit-app-field-missing {
    font-size: 12.25px;
    line-height: 18.375px;
  }
}
@media screen and (min-width: 1440px) {
  .upload-edit-app-modal {
    padding: 16px;
    width: 96%;
    border-radius: 16px;
  }

  .upload-edit-app-close-modal-div .upload-edit-app-close-button img {
    width: 24px;
    height: 24px;
  }

  .upload-edit-app-close-header h2 {
    font-size: 22px;
    line-height: 33px;
  }

  .upload-edit-app-body {
    height: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upload-edit-app-inputs {
    width: 47%;
  }

  .upload-edit-app-tech-desc-repo {
    margin: 16px 0 0 0;
    gap: 16px;
  }

  .upload-edit-app-name {
    width: 72%;
  }

  .upload-edit-app-price {
    width: 25%;
  }

  .upload-edit-app-name label,
  .upload-edit-app-price label,
  .upload-edit-app-tech-stack .tech-used,
  .upload-edit-app-summary label,
  .upload-edit-app-repo label {
      font-size: 16px;
      line-height: 24px;
  }

  .upload-edit-app-required {
    font-size: 16px;
    line-height: 24px;
  }

  .upload-edit-app-name input,
  .upload-edit-app-price input,
  .upload-edit-app-repo input {
    margin: 8px 0 0 0;
    height: 50px;
    padding: 16px 12px;
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-name input::placeholder,
  .upload-edit-app-price input::placeholder,
  .upload-edit-app-tech-stack .techName::placeholder,
  .upload-edit-app-summary textarea::placeholder,
  .upload-edit-app-repo input::placeholder {
      font-size: 14px;
      line-height: 21px;
  }

  .upload-edit-app-tech-stack-comma-separated {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.42px;
  }

  .upload-edit-app-tech-container {
    gap: 12px;
    margin: 8px 0 0 0;
    padding: 16px 12px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    min-height: 50px;
  }

  .upload-edit-app-tech-tag {
    gap: 12px;
    padding: 6px 6px 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-tech-tag span {
    max-width: 144px;
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-tech-delete {
    width: 20px;
    height: 20px;
  }

  .upload-edit-app-tech-container .techName {
    min-width: 433px;
    font-size: 14px;
    line-height: 21px;
  }


  .upload-edit-app-summary textarea {
      font-size: 14px;
      line-height: 21px;
      padding: 16px 12px;
      border-radius: 8px;
      border: 1px solid #F5F5F5;
      margin: 8px 0 0 0;
      height: 202px;
      max-height: 202px;
  }

  .upload-edit-app-line {
    margin: 0;
    border-left: 1px solid #F5F5F5;
    min-height: 100%;
  }

  .upload-edit-app-photos {
    width: 48%;
    gap: 16px;
  }

  .upload-edit-app-photos .upload-edit-app-label-div {
    margin: 0 0 8px 0;
  }

  .upload-edit-app-photos h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .upload-edit-app-upload {
    gap: 18px;
    height: 50px;
  }

  .upload-edit-app-upload p span,
  .upload-edit-app-upload p {
    font-size: 16px;
    line-height: 24px;
  }

  .upload-edit-app-uploading {
    height: 50px;
  }

  .upload-edit-app-uploading-img-file,
  .upload-edit-app-uploading-upload-txt-close,
  .upload-edit-app-uploaded-folder-file {
    gap: 18px;
  }

  .upload-edit-app-uploading-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 247.48px;
  }

  .upload-edit-app-uploaded-text {
    font-size: 18px;
    line-height: 27px;
    max-width: 198px;
  }

  .upload-edit-app-photos-line {
    border-bottom: 1px solid #F5F5F5;
  }

  .upload-edit-app-uploaded-images {
    gap: 12px;
    grid-template-columns: repeat(auto-fit, 208px);
  }

  .upload-edit-app-uploaded-images .uploadedImageContainer {
      height: 136px;
  }

  .upload-edit-app-uploaded-images .uploadedImage .previewImg {
    height: 136px;
    border-radius: 8px;
  }

  .upload-edit-app-video-duration {
    left: 14px;
    bottom: 19.12px;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 10px;
    width: 75px;
    height: 25px;
  }

  .upload-edit-app-video-duration img {
    width: 17px;
    height: 17px;
  }

  .upload-edit-app-video-duration span {
    font-size: 14px;
    line-height: 15.4px;
    letter-spacing: -0.28px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash {
    top: 8px;
    right: 8px;
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    width: 32px;
    height: 32px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-trash img {
    width: 24px;
    height: 24px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation {
    top: 8px;
    left: 33px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    width: 129px;
    height: 33px;
  }

  .upload-edit-app-uploaded-images .upload-edit-app-uploaded-photo-make-presentation span {
    font-size: 11.3px;
    line-height: 21px;
    letter-spacing: -0.28px;
  }

  .upload-edit-app-uploaded-photo-make-presentation.selected-presentation {
    border: 1px solid #5541D7;
  }
  
  .upload-edit-app-draft-cancel-save {
    margin: 24px 0 0 0;
  }

  .upload-edit-app-draft {
    width: 10.9%;
    height: 45px;
  }

  .upload-edit-app-draft button {
    gap: 8px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
  }

  .upload-edit-app-draft button  img {
    width: 20px;
    height: 20px;
  }

  .upload-edit-app-draft button  span {
    font-size: 14px;
    line-height:  21px;
  }

  .upload-edit-app-cancel-save {
    width: 20%;
  }

  .upload-edit-app-cancel {
    width: 39%;
    height: 45px;
  }
  .upload-edit-app-save {
    width: 57%;
    height: 45px;
  }

  .upload-edit-app-cancel button {
    gap: 8px;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
  }

  .upload-edit-app-cancel img,
  .upload-edit-app-save img {
    width: 20px;
    height: 20px;
  }

  .upload-edit-app-cancel span {
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-save button {
    gap: 8px;
    padding: 12px 16px;
    border-radius: 10px;
  }

  .upload-edit-app-save span {
    font-size: 14px;
    line-height: 21px;
  }

  .upload-edit-app-error-banner {
    top: 62.19px;
    right: 33.5px;
  }

  .upload-edit-app-error-icon-banner {
    width: 24px;
    height: 24px;
  }

  .upload-edit-app-error-box-message-banner {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
  }

  .upload-edit-app-field-missing {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.42px;
  }
}

/* ══════════════════════════════════════════════════════════════════════════
   APPEND TO: ProfileUploadEditAppModal.css (at the end)
   ══════════════════════════════════════════════════════════════════════════ */

/* ── Draft saved success banner ────────────────────────────────────────── */

.upload-edit-app-draft-saved-banner {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10010;
  background: #22C55E;
  color: #FFF;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  box-shadow: 0 6px 20px rgba(34, 197, 94, 0.35);
  animation: draftBannerSlideIn 0.3s ease-out;
  font-family: 'Poppins', sans-serif;
}

@keyframes draftBannerSlideIn {
  0% { opacity: 0; transform: translateX(-50%) translateY(16px); }
  100% { opacity: 1; transform: translateX(-50%) translateY(0); }
}